{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>MaintenanceRequest</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body ng-app="MRApp.demo">
    <img class="logo-adjust" src="../static/images/msa_logo.jpg" alt="MSA Logo">
    <h1 align='center'><u>Maintenance Request Form</u></h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js'></script>
    <script>document.write('<script src="{% static 'static.js' %}?ver=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>
    <!-- <script src={% static "/static.js" %}></script> -->
  </br>
</br>
    
    {% verbatim %}
    
    
    <div ng-controller="MRAppController">

        <div align="center" class="col-sm-12">
            <!-- <select class="custom-select"> -->
            <!-- <option selected>Select your first name</option> -->
            <!-- <option ng-repeat="x in MyData">{{ x.first_name }}</option> -->
            <!-- </select> -->
            <h4 align="center">Select your NAME:</h4>
            <select class="custom-select dropdown-specs" ng-model="firstnamedata" ng-options="x.first_name + ' ' + x.last_name for x in MyData"></select>
        </div>
    </br>
       
    </br>
    </br>
        <div align="center" class="col-sm-12">
            <p>First Name: <b id="first_name_data">{{ firstnamedata.first_name }}</b></p>
            <p>Last Name: <b id="last_name_data">{{ firstnamedata.last_name }}</b></p>
            <p>Badge Number: <b id="badge_number_data">{{ firstnamedata.badge_number }}</b></p>
            <p>Department: <b id="department_data">{{ firstnamedata.department }}</b></p>
            <p>Authorized Supervisor: <b id="supervisor_data">{{ firstnamedata.authorized_supervisor }}</b></p>
        </div>
            
            <div class="row">
                <div class="container">
                <div align="center" class="col-sm-12">
                    <h4 align="center">Select your EQUIPMENT:</h4>
                    <select class="custom-select dropdown-specs" ng-model="equipmentdata" ng-options="y.equipment_number for y in MyDataEquipment"></select>
                
                </div>
            
            </br>
            </br>
            </br>
            
            
                <div align="center" class="col-sm-12">
                    <p>Equipment Number: <b id="equipment_number">{{ equipmentdata.equipment_number }}</b></p>
                    <p>Equipment Name: <b id="equipment_name">{{ equipmentdata.equipment_name }}</b></p>
                    <p>Equipment Location: <b id="equipment_location">{{ equipmentdata.equipment_location }}</b></p>
                </div>
                </div>
            </div>
            </div>
        </br>
    </br>
<div align="center">
<input class="form-control form-size" id="equipment_problem" placeholder="Equipment Issue: Electrical? Mechanical? Tooling? Coolant? Air Line? Hydraulic? Other?" ng-model="formInfo.equipment_problem">
</br>
<input class="form-control form-size" id="equipment_problem2" placeholder="Explain Issue in Detail" ng-model="formInfo2.equipment_problem2">
</br>
<button class="form-size-button popup" ng-click="addEquipmentProblem(formInfo, formInfo2, formInfo3);">CLICK WHEN COMPLETE</button>
</div>
    {% endverbatim %}


  </body>
</html>
  


